.page {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  margin-block: var(--spacing-large);
  color: var(--text-color);
  font-family: var(--main-font);
  font-weight: var(--font-weight-normal);
  background-image: var(--bg-gradient);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--font-weight-normal);
}

.header {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 20px;
  margin-bottom: 98px;
  border: var(--border-width) solid var(--text-color);
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0;
  font-family: var(--accent-font);
  background-color: var(--bg-color);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.header__logo:focus {
  outline: none;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.main {
  display: grid;
  gap: var(--spacing-medium);
}

.post {
  display: grid;
  border: var(--border-width) solid var(--text-color);
  background-color: var(--bg-color);
}

.post__title {
  padding: 5px 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: var(--font-weight-bold);
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.post__cover {
  position: relative;
  border-block: var(--border-width) solid var(--text-color);
}

.post__cover__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.image-filter-brightness {
  filter: brightness(1.3);
}

.image-filter-contrast {
  filter: contrast(1.5);
}

.image-filter-blur {
  filter: blur(2px);
}

.image-filter-grayscale {
  filter: grayscale(80%);
}

.image-filter-saturate {
  filter: saturate(2);
}

.image-filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.image-filter-invert {
  filter: invert(80%);
}

.image-filter-multiple {
  filter: saturate(1.5) contrast(1.2) brightness(1.1) hue-rotate(20deg);
}

.post__cover__watermark {
  position: absolute;
  inset-block-start: var(--spacing-small);
  inset-inline-end: var(--spacing-small);
  opacity: 0.5;
  color: var(--text-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-shadow: 0 0 1px var(--bg-color);
}

@supports (
  (-webkit-text-stroke: 1px var(--bg-color)) and (mix-blend-mode: hard-light)
) {
  .post__cover__watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
    mix-blend-mode: hard-light;
  }
}

.post__content {
  display: grid;
  gap: var(--spacing-small);
  padding: var(--spacing-small);
  font-size: 18px;
  line-height: 21px;
  font-weight: var(--font-weight-normal);
  font-variation-settings: 'wght' var(--font-weight-normal);
}

.post__buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 12px;
}

.main__footer {
  display: grid;
  justify-content: center;
}

.card__icon-button {
  position: relative;
  display: grid;
  place-items: center;
  min-block-size: var(--button-min-height);
  border: var(--border-width) solid transparent;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color);
}

.sparks {
  opacity: 0;
}

.card__like-button {
  inline-size: var(--card-like-button-width);
  min-block-size: var(--button-min-height);
  padding: 9px 17px;
}

.button__container {
  background: var(--bg-color);
}

.button {
  position: relative;
  display: grid;
  place-content: center;
  place-items: center;
  border: var(--border-width) solid var(--text-color);
  background: var(--bg-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.footer__button {
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-block-size: 55px;
  padding: 15px 20px;
}

.button:focus-visible {
  box-shadow: var(--border-width) var(--border-width) var(--text-color);
  outline: none;
}

.button::before {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--text-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text,
.button svg {
  position: relative;
  z-index: 1;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.button__text {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}

.button:hover .button__text,
.button:hover svg {
  color: var(--bg-color);
}

@supports (mix-blend-mode: difference) {
  .button__text,
  .button svg {
    color: var(--bg-color);
    mix-blend-mode: difference;
  }

  .button:hover .button__text,
  .button:hover svg {
    color: var(--bg-color);
  }
}

dialog::backdrop {
  opacity: 0.75;
  background: var(--text-color);
}

.dialog {
  inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  min-inline-size: 341px;
  border: var(--border-width) solid var(--text-color);
  padding: 30px;
  background: var(--bg-color);
}

.dialog__container {
  display: grid;
  gap: 30px;
  color: var(--text-color);
}

.dialog__warning {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  place-items: center;
  gap: 20px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  place-content: center;
  place-items: center;
  gap: 10px;
  inline-size: 100%;
  min-block-size: var(--button-min-height);
  padding: 9px 17px;
}

@media (width <= 375px) {
  .page {
    inline-size: 100%;
    min-inline-size: 320px;
  }

  .footer__button {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }

  .footer__button svg {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog {
    padding-inline: 40px;
  }
}
