/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  margin-block: var(--spacing-large);
  color: var(--text-color);
  font-family: var(--main-font);
  background-image: var(--bg-gradient);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--font-weight-normal);
}

/* Header */
.header {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 20px;
  margin-bottom: var(--spacing-medium);
  border: var(--border-width) solid var(--text-color);
  min-height: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
  font-family: var(--accent-font);
  background-color: var(--bg-color);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.header__logo:focus {
  outline: none;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

/* Main */
.main {
  display: grid;
  gap: var(--spacing-medium);
}

/* Post */
.post {
  display: grid;
  border: var(--border-width) solid var(--text-color);
  background-color: var(--bg-color);
}

.post__title {
  padding: 5px 10px;
  font-size: 18px;
  line-height: 22px;
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.post__cover {
  position: relative;
  border-block: var(--border-width) solid var(--text-color);
}

.post__cover__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.post__cover__watermark {
  position: absolute;
  inset-block-start: var(--spacing-small);
  inset-inline-end: var(--spacing-small);
  opacity: 0.5;
  color: var(--text-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-shadow: 0 0 1px var(--bg-color);
}

@supports (
  (
      (text-stroke: 1px var(--bg-color)) or
        (-webkit-text-stroke: 1px var(--bg-color))
    )
    and (mix-blend-mode: hard-light)
) {
  .post__cover__watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    mix-blend-mode: hard-light;
  }
}

.post__content {
  display: grid;
  gap: var(--spacing-small);
  padding: var(--spacing-small);
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' var(--font-weight-normal);
}

.post__buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 12px;
}

/* Footer */
.main__footer {
  display: grid;
  justify-content: center;
}

/* Utils */
.card__icon-button {
  position: relative;
  display: grid;
  align-items: end;
  min-block-size: var(--button-min-height);
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button::before {
  content: "";
  position: absolute;
  inset: 0;
  outline: var(--border-width) solid var(--text-color);
  outline-offset: calc(-1 * var(--border-width));
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.card__icon-button:focus-within::before {
  opacity: 100;
  z-index: 0;
}

.card__like-button {
  inline-size: var(--card-like-button-width);
  min-block-size: var(--button-min-height);
  padding: 9px 17px;
}

/* Button */
.button__container {
  background: var(--bg-color);
}

.button {
  position: relative;
  display: grid;
  place-content: center;
  border: var(--border-width) solid var(--text-color);
  background: var(--bg-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.footer__button {
  grid-auto-flow: column;
  gap: 8px;
  min-block-size: 55px;
  padding: 15px 20px;
}

.button:focus-visible {
  box-shadow: var(--border-width) var(--border-width) var(--text-color);
  outline: none;
}

.button::before {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 0%;
  block-size: 100%;
  background-color: var(--text-color);
  transition: inline-size 0.5s ease-in-out;
}

.button:hover::before {
  inline-size: 100%;
}

.button__text {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  color: var(--text-color);
}

.button .button__text {
  transition: color 0.5s ease-in-out;
}

.button:hover .button__text {
  color: var(--bg-color);
}

.button svg {
  transition: color 0.5s ease-in-out;
}

.button:hover svg {
  color: var(--bg-color);
}

@supports (mix-blend-mode: difference) {
  .button .button__text {
    transition: none;
  }

  .button svg {
    transition: none;
    mix-blend-mode: difference;
  }

  .button:hover .button__text {
    color: var(--text-color);
  }

  .button:hover svg {
    color: var(--text-color);
  }

  .button__text {
    mix-blend-mode: difference;
  }
}

/* Dialog */
dialog::backdrop {
  opacity: 0.75;
  background: var(--text-color);
}

.dialog {
  inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  min-inline-size: 341px;
  border: var(--border-width) solid var(--text-color);
  padding: 30px;
  background: var(--bg-color);
}

.dialog__container {
  display: grid;
  gap: 30px;
  color: var(--text-color);
}

.dialog__warning {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  place-items: center;
  gap: 20px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  place-content: center;
  place-items: center;
  gap: 10px;
  inline-size: 100%;
  min-block-size: var(--button-min-height);
  padding: 9px 17px;
}

/* Media Queries */
@media (width <= 375px) {
  .page {
    inline-size: 100%;
    min-inline-size: 320px;
  }

  .footer__button {
    grid-auto-flow: row;
  }

  .footer__button svg {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog {
    padding-inline: 40px;
  }
}
