:root {
  --main-font: 'Inter-Variable', sans-serif;
  --accent-font: 'PressStart2P', fantasy;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --text-color: #000000;
  --bg-color: #ffffff;
  --contour-color: var(--text-color);
  --animation-fill-color: #ff0000;
  --bg-gradient: 
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
  --border-width: 2px;
  --spacing-small: 25px;
  --spacing-medium: 50px;
  --spacing-large: 100px;
  --button-min-height: 38px;
  --card-like-button-width: 130px;
}
